body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
}

.left-content {
  display: flex;  
  flex-direction: column;
  flex-basis: 40%;
  height: 100vh;
}

.right-content {
  display: flex;  
  flex-direction: column;
  flex-basis: 60%;
  background-color: #ebb551;
  color: white;
  font-size: 20px;
  font-weight:600;
  border-bottom-left-radius:9%;
  border-top-left-radius:9%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img { 
  display: flex;  
  width: auto;
  height: 65vh;  
  align-self: center;  
}

.right-header {
  text-align: left;
  margin-top: 50px;
  padding: 30px 30px 10px;
}

label {
  margin-left: 30px;
  font-weight:bolder;
}

input {
float:right;
margin-right: 200px;
width: 35%;
margin-bottom: 15px;
background-color: #eef4ed;
border: none;
border-radius: 5px;
height: 22px;
}

.submit {
  display: flex;

}

button {
  display: flex;
  align-items: center;
  margin: 30px 0 0 30px;
  font-size: large;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1%;
  width: 20%;
  justify-content: center;  
  transition-duration: 0.4s;
}

button:active {
  background-color: white;
}

.first-name,
.last-name,
.email,
.phone-number,
.pwd_1,
.pwd_2 {
  margin-bottom: 20px;  
}

#form-restrictions {
  font-size: small;
  margin-left: 30px;
}

input {
  transition-duration: 0.6s;
}

input:focus {
  background-color: #c0e9f3;
  outline: none;
}

#user-pwd-1 + span {
  position: relative;
}

#user-pwd-1 + span::before {
  font-size: 15px;
  position: absolute;
  padding: 5px 10px;  
}

#user-pwd-1:focus + span::before {
  color: white;
  background-color: rgb(40, 65, 192);
  width: 350px;
  top: 29px;
  left: 141px;
  border-radius: 3px;
  content: "Include UPPERCASE, lowercase, numbers / special symbols, and min 8 characters."
}

#email + span {
  position: relative;
}

#email + span::before {
  font-size: 15px;
  position: absolute;
  padding: 5px 10px;  
}

#email:focus:invalid + span::before {
  color: white;
  background-color: rgb(40, 65, 192);
  font-size: small;
  width: 153px;
  height: 16px;
  top: 0px;
  left: 450px;
  border-radius: 3px;
  content: "Enter a valid email address"
}

#confirmPassword-feedback {
  color: red;
  font-size: 15px;
  position: absolute; 
  margin-top: 30px; 
  margin-left: 68px;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 6%;
  color: white;
  background-color: #82d2b5;
  font-weight: bolder;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#user-pwd-1:focus:invalid,
#user-pwd-2:focus:invalid {
  background-color: rgb(191, 155, 155);
  border: 1px solid red;
}

#user-pwd-1:focus:valid,
#user-pwd-2:focus:valid {
  border: 1px solid green;
  background-color: rgb(150, 196, 150);
}

#email:focus:invalid {
  background-color: rgb(191, 155, 155);
  border: 1px solid red;
}

#email:focus:valid {
  border: 1px solid green;
  background-color: rgb(150, 196, 150);
}

#email {
  background-color: none;
}

#footer {
  display: flex;
  margin-left: 30px;
  font-size: medium ;
}

a {
  color: blue;
  text-decoration: none;
}


@media screen and (max-width: 380px) {

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .img {
    display: flex;
    align-self: center;
  }

  img {
    width: 38vh;
    height: auto;
    margin: 0;
  }

  .right-content {
    border-radius: 0;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .right-header {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    margin-left: 0;
  }

  input {
    align-self: center;
    padding: 0;
    margin-left:0px;
    margin-right: 0px;
    width: 110%;
    font-size: 17px;
  }

  #myForm {
    margin-left: 0px;
  }

  .submit {
    display: flex;
    justify-content:center;
  }
  
  button {
    width: 55%;
    margin:0;
  }
  
  #title {
    font-size: large;
  }

  #email + span::before {
    padding: 1px;
      
  }

  #email:focus:invalid + span::before {
    top: -13px;
    left: 8px; 
    height: 18px; 
    width: 190px; 
  }

  #user-pwd-1:focus + span::before {
    width: 320px;
    top: -10px;
    left: -80px;
    width: 300px;
    content: "Include UPPERCASE, lowercase, numbers/symbols, and min 8 characters."
  }

  .first-name,
  .last-name,
  .email,
  .phone-number,
  .pwd_1,
  .pwd_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0;
    padding: 0;
    margin-bottom: 10px;
  }

  #confirmPassword-feedback {
    margin-top: 53px; 
    margin-left: 10px;
  }

  #form-restrictions {
    margin-left: 0px;
  }
} 

@media screen and (min-width: 541px) and (max-width: 1020px){
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .img {
    display: flex;
    align-self: center;
  }

  img {
    width: 38vh;
    height: auto;
    margin: 0;
  }

  .right-content {
    border-radius: 0;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .right-header {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    margin-left: 0;
  }

  input {
    align-self: center;
    padding: 0;
    margin-left:0px;
    margin-right: 0px;
    width: 130%;
    font-size: 17px;
  }

  #myForm {
    margin-left: 0px;
  }

  .submit {
    display: flex;
    justify-content:center;
  }
  
  button {
    width: 55%;
    margin:0;
  }
  
  #title {
    font-size: large;
  }

  #email + span::before {
    padding: 1px;
  }

  #email:focus:invalid + span::before {
    top: -37px;
    left: 255px; 
    height: 18px; 
    width: 190px; 
  }

  #user-pwd-1:focus + span::before {
    width: 320px;
    top: -60px;
    left: 225px;
    width: 170px;
    content: "Include UPPERCASE, lowercase, numbers/symbols, and min 8 characters."
  }

  .first-name,
  .last-name,
  .email,
  .phone-number,
  .pwd_1,
  .pwd_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0;
    padding: 0;
    margin-bottom: 10px;
  }

  #confirmPassword-feedback {
    margin-top: 50px; 
    margin-left: 5px;
  }

  #form-restrictions {
    margin-left: 0px;
  }
}

@media (hover: hover) {
  button:hover {
      background-color: #82d2b5;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      color:white;
    }
  }
