body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
}

.left-content {
  display: flex;  
  flex-basis: 40%;
  height: 100vh;
}

.right-content {
  display: flex;  
  flex-direction: column;
  flex-basis: 60%;
  background-color: #ebb551;
  color: white;
  font-size: 20px;
  font-weight:600;
  border-bottom-left-radius:9%;
  border-top-left-radius:9%;
}

img { 
  display: flex;  
  width: auto;
  height: 65vh;  
  align-self: center;  
}

.right-header {
  text-align: left;
  margin-top: 50px;
  padding: 30px 30px 10px;
}

label {
  margin-left: 30px;
  font-weight:bolder;
}

input {
float:right;
margin-right: 200px;
width: 35%;
margin-bottom: 15px;
background-color: #eef4ed;
border: none;
border-radius: 5px;
height: 22px;
}

.submit {
  display: flex;
  justify-content:flex-start;
}

button {
  margin: 30px 0 0 30px;
  font-size: large;
  border-radius: 15px;
  padding: 1%;
  width: 20%;
  justify-content: center;  
}

button:hover {
  background-color: #82d2b5;
}

.first-name,
.last-name,
.email,
.phone-number,
.pwd_1,
.pwd_2 {
  margin-bottom: 20px;  
}

#form-restrictions {
  margin-left: 30px;
  font-size: small;
  font-weight:600;
}

input:focus {
  background-color: #c0e9f3;
}

#user-pwd-1 + span {
  position: relative;
}

#user-pwd-1 + span::before {
  font-size: 15px;
  position: absolute;
  padding: 5px 10px;  
}


#user-pwd-1:focus + span::before {
  color: white;
  background-color: rgb(40, 65, 192);
  width: 350px;
  top: 27px;
  left: 141px;
  border-radius: 3px;
  content: "Include UPPERCASE, lowercase, numbers, special symbols, and min 8 characters."
}


#confirmPassword-feedback {
  color: red;
  font-size: 15px;
  position: absolute; 
  margin-top: 30px; 
  margin-left: 25px;
}

